<a href="https://colab.research.google.com/github/LuziaAm/DataScience/blob/main/Aula1_INDT_ML_onehot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #Normalizar Dados
#Autor: Luzia Amorim
#1 -  Normalizar uma base
#2 - Salvar o modelo de normalização
#3 - Normalizar novas instâncias

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('/content/dados_normalizar.csv', sep = ';')

In [3]:
dados.head()

   idade  altura  Peso sexo
0     48       1   107    F
1     10       1   240    F
2     79       1    68    F
3     42       1   160    F
4     23       2   157    F

In [4]:
dados_num = dados.drop(columns=['sexo']) #copiando as colunas exceto sexo

In [5]:
dados_cat = dados['sexo']

In [6]:
dados_num.head()

   idade  altura  Peso
0     48       1   107
1     10       1   240
2     79       1    68
3     42       1   160
4     23       2   157

In [7]:
dados_cat.head()

0    F
1    F
2    F
3    F
4    F
Name: sexo, dtype: object

In [8]:
dados_num=dados_num.values

In [9]:
type(dados_num)

numpy.ndarray

In [10]:
#Normalizar os números
#A. manual com o MinMax
#z=X-Min(dados)/Max(dados)-min(dados)

In [11]:
dados_num_normalizados =  (dados_num-dados_num.min())/(dados_num.max()-dados_num.min())#executa linha por linha

In [12]:
dados_num_normalizados

array([[0.19183673, 0.        , 0.43265306],
       [0.03673469, 0.        , 0.9755102 ],
       [0.31836735, 0.        , 0.27346939],
       [0.16734694, 0.        , 0.64897959],
       [0.08979592, 0.00408163, 0.63673469],
       [0.11020408, 0.00408163, 0.4       ],
       [0.28979592, 0.        , 0.34693878],
       [0.24489796, 0.00408163, 0.30204082],
       [0.25306122, 0.00408163, 0.27346939],
       [0.30612245, 0.        , 0.28979592],
       [0.17959184, 0.        , 0.9755102 ],
       [0.12244898, 0.        , 0.13469388],
       [0.08979592, 0.        , 0.99183673],
       [0.16326531, 0.00408163, 0.69387755],
       [0.08571429, 0.00408163, 0.88979592],
       [0.23673469, 0.        , 0.65714286],
       [0.02857143, 0.        , 0.80408163],
       [0.29387755, 0.00408163, 0.65714286],
       [0.2244898 , 0.        , 0.88571429],
       [0.11428571, 0.        , 0.13877551],
       [0.03673469, 0.        , 0.04489796],
       [0.20408163, 0.        , 0.26938776],
       [0.06938776, 0.        , 0.91020408],
       [0.12653061, 0.00408163, 0.11428571],
       [0.24489796, 0.        , 0.48571429],
       [0.35510204, 0.00408163, 0.51428571],
       [0.35102041, 0.00408163, 0.07755102],
       [0.32653061, 0.        , 0.56326531],
       [0.00816327, 0.00408163, 0.10612245],
       [0.01632653, 0.00408163, 0.10204082],
       [0.        , 0.        , 0.47755102],
       [0.2122449 , 0.        , 0.84489796],
       [0.35510204, 0.00408163, 0.85306122],
       [0.20408163, 0.00408163, 0.56734694],
       [0.29387755, 0.00408163, 0.02040816],
       [0.28979592, 0.00408163, 0.79183673],
       [0.28979592, 0.        , 0.3877551 ],
       [0.31020408, 0.        , 0.87755102],
       [0.04081633, 0.00408163, 0.33877551],
       [0.1755102 , 0.        , 0.86938776],
       [0.03673469, 0.00408163, 0.8244898 ],
       [0.32244898, 0.00408163, 0.71428571],
       [0.15918367, 0.        , 0.45306122],
       [0.10612245, 0.00408163, 0.54693878],
       [0.37142857, 0.00408163, 0.88571429],
       [0.31428571, 0.00408163, 0.13469388],
       [0.0244898 , 0.00408163, 0.48163265],
       [0.02857143, 0.        , 0.86530612],
       [0.04081633, 0.00408163, 0.22040816],
       [0.17959184, 0.00408163, 0.33877551],
       [0.40408163, 0.00408163, 0.35510204],
       [0.36734694, 0.        , 0.75918367],
       [0.27346939, 0.        , 0.39183673],
       [0.20816327, 0.00408163, 0.69795918],
       [0.1877551 , 0.        , 0.09795918],
       [0.14285714, 0.00408163, 0.28979592],
       [0.05714286, 0.00408163, 0.01632653],
       [0.11836735, 0.        , 0.89795918],
       [0.35918367, 0.00408163, 0.5755102 ],
       [0.10204082, 0.00408163, 0.70204082],
       [0.09387755, 0.        , 0.52653061],
       [0.12653061, 0.00408163, 0.6244898 ],
       [0.26122449, 0.        , 0.06938776],
       [0.22040816, 0.00408163, 0.86530612],
       [0.16326531, 0.        , 0.15510204],
       [0.23673469, 0.        , 0.90612245],
       [0.15918367, 0.        , 0.83673469],
       [0.14285714, 0.        , 0.41632653],
       [0.17959184, 0.        , 0.23265306],
       [0.04081633, 0.00408163, 0.77959184],
       [0.36734694, 0.        , 0.74693878],
       [0.11428571, 0.00408163, 0.88571429],
       [0.09387755, 0.        , 0.53469388],
       [0.32653061, 0.00408163, 0.10612245],
       [0.2244898 , 0.00408163, 0.60816327],
       [0.40408163, 0.00408163, 0.24081633],
       [0.05306122, 0.00408163, 0.73469388],
       [0.34693878, 0.        , 0.30612245],
       [0.11428571, 0.00408163, 0.73469388],
       [0.06938776, 0.00408163, 0.75510204],
       [0.28571429, 0.00408163, 0.48979592],
       [0.33061224, 0.00408163, 0.26938776],
       [0.31428571, 0.00408163, 0.88163265],
       [0.35510204, 0.00408163, 0.22040816],
       [0.26530612, 0.        , 0.50612245],
       [0.07755102, 0.        , 0.27755102],
       [0.38367347, 0.        , 0.63673469],
       [0.0122449 , 0.00408163, 0.81632653],
       [0.07346939, 0.        , 0.32244898],
       [0.3755102 , 0.        , 0.05714286],
       [0.29387755, 0.        , 0.73061224],
       [0.07755102, 0.00408163, 0.39591837],
       [0.19591837, 0.        , 0.4       ],
       [0.26122449, 0.        , 0.28979592],
       [0.03673469, 0.00408163, 0.09795918],
       [0.06122449, 0.00408163, 0.64897959],
       [0.28571429, 0.        , 0.63673469],
       [0.31428571, 0.00408163, 0.25306122],
       [0.00816327, 0.        , 0.57959184],
       [0.17142857, 0.        , 0.86530612],
       [0.03673469, 0.        , 0.36734694],
       [0.17142857, 0.00408163, 0.26530612],
       [0.37959184, 0.        , 0.75510204],
       [0.01632653, 0.00408163, 0.42857143],
       [0.34693878, 0.        , 0.61632653],
       [0.20816327, 0.00408163, 0.71020408],
       [0.31020408, 0.00408163, 0.27755102],
       [0.02857143, 0.        , 0.82040816],
       [0.39183673, 0.00408163, 0.65306122],
       [0.36734694, 0.        , 0.11020408],
       [0.22040816, 0.        , 0.74693878],
       [0.08163265, 0.        , 0.11836735],
       [0.37959184, 0.00408163, 0.03265306],
       [0.07755102, 0.        , 0.82857143],
       [0.33877551, 0.        , 0.83673469],
       [0.3877551 , 0.00408163, 0.59591837],
       [0.22040816, 0.00408163, 0.5877551 ],
       [0.14693878, 0.00408163, 0.39591837],
       [0.20816327, 0.        , 0.61632653],
       [0.35102041, 0.00408163, 0.55102041],
       [0.33469388, 0.00408163, 0.84081633],
       [0.15510204, 0.        , 0.01632653],
       [0.12653061, 0.        , 0.28571429],
       [0.12244898, 0.        , 0.27755102],
       [0.08979592, 0.        , 0.44081633],
       [0.30612245, 0.        , 0.48979592],
       [0.25714286, 0.        , 0.        ],
       [0.0122449 , 0.00408163, 0.94285714],
       [0.24489796, 0.00408163, 0.55918367],
       [0.09387755, 0.00408163, 0.83265306],
       [0.40408163, 0.00408163, 0.25714286],
       [0.28979592, 0.00408163, 0.48571429],
       [0.04489796, 0.        , 0.71020408],
       [0.26122449, 0.        , 1.        ],
       [0.17959184, 0.00408163, 0.97959184],
       [0.14693878, 0.00408163, 0.57959184],
       [0.30204082, 0.00408163, 0.56734694],
       [0.22857143, 0.        , 0.2122449 ],
       [0.3755102 , 0.00408163, 0.92653061],
       [0.11836735, 0.00408163, 0.73469388],
       [0.        , 0.        , 0.55918367],
       [0.24081633, 0.00408163, 0.05714286],
       [0.10612245, 0.        , 0.98367347],
       [0.2122449 , 0.        , 0.0244898 ],
       [0.07755102, 0.        , 0.29795918],
       [0.1755102 , 0.        , 0.63265306],
       [0.2       , 0.00408163, 0.58367347],
       [0.12244898, 0.        , 0.66938776],
       [0.31836735, 0.        , 0.2       ],
       [0.31836735, 0.00408163, 0.39591837],
       [0.37959184, 0.        , 0.87346939],
       [0.06938776, 0.00408163, 0.24081633],
       [0.06530612, 0.00408163, 0.55918367],
       [0.34285714, 0.00408163, 0.01632653],
       [0.13061224, 0.00408163, 0.66938776],
       [0.25714286, 0.00408163, 0.84489796],
       [0.36326531, 0.        , 0.54693878],
       [0.34285714, 0.        , 0.32244898],
       [0.3877551 , 0.00408163, 0.06938776],
       [0.2       , 0.        , 0.39183673],
       [0.07346939, 0.00408163, 0.49387755],
       [0.4       , 0.00408163, 0.03265306],
       [0.17959184, 0.        , 0.11836735],
       [0.09795918, 0.        , 0.68979592],
       [0.36326531, 0.00408163, 0.08979592],
       [0.06530612, 0.        , 0.39591837],
       [0.16326531, 0.00408163, 0.08571429],
       [0.13469388, 0.        , 0.17142857],
       [0.10612245, 0.        , 0.24489796],
       [0.02857143, 0.        , 0.10204082],
       [0.30612245, 0.00408163, 0.37142857],
       [0.27346939, 0.00408163, 0.63265306],
       [0.00816327, 0.00408163, 0.86122449],
       [0.2       , 0.00408163, 0.94693878],
       [0.24489796, 0.        , 0.26122449],
       [0.04489796, 0.        , 0.85306122],
       [0.07755102, 0.        , 0.06938776],
       [0.27346939, 0.        , 0.6244898 ],
       [0.29387755, 0.        , 0.4122449 ],
       [0.11836735, 0.        , 0.93061224],
       [0.11020408, 0.        , 0.16326531],
       [0.15510204, 0.        , 0.93877551],
       [0.25306122, 0.        , 0.01632653],
       [0.06122449, 0.        , 0.35102041],
       [0.07755102, 0.00408163, 0.11020408],
       [0.03265306, 0.00408163, 0.59183673],
       [0.10612245, 0.00408163, 0.67346939],
       [0.09795918, 0.00408163, 0.66530612],
       [0.23265306, 0.00408163, 0.84081633],
       [0.34693878, 0.        , 0.36734694],
       [0.2122449 , 0.        , 0.51020408],
       [0.15918367, 0.00408163, 0.71836735],
       [0.11020408, 0.00408163, 0.66938776],
       [0.13877551, 0.        , 0.33877551],
       [0.28571429, 0.00408163, 0.32244898],
       [0.35918367, 0.00408163, 0.25714286],
       [0.05714286, 0.        , 0.19591837],
       [0.27346939, 0.        , 0.56734694],
       [0.04489796, 0.        , 0.91428571],
       [0.29387755, 0.        , 0.25306122]])

In [13]:
#B. Normalizar utilizando um pacote pronto

In [14]:
from sklearn import preprocessing

In [15]:
normalizador = preprocessing.MinMaxScaler()

In [16]:
#obter modelo normalizador para base processada

In [17]:
modelo_normalizador = normalizador.fit(dados_num)#criei modelo

In [18]:
from pickle import dump #salvar modelo

In [19]:
dump(modelo_normalizador,open('modelo_normalizador.pkl','wb'))#a lógica do machine learning

In [20]:
#Carregar o modelo normalizador salvo

In [21]:
from pickle import load

In [22]:
normalizador=load(open('modelo_normalizador.pkl','rb'))

In [23]:
dados_num_normalizados_2 = normalizador.fit_transform(dados_num)#Fit cria modelo - Fit transform salva dados normalizados

In [24]:
dados_num_normalizados_2

array([[0.47474747, 0.        , 0.43265306],
       [0.09090909, 0.        , 0.9755102 ],
       [0.78787879, 0.        , 0.27346939],
       [0.41414141, 0.        , 0.64897959],
       [0.22222222, 1.        , 0.63673469],
       [0.27272727, 1.        , 0.4       ],
       [0.71717172, 0.        , 0.34693878],
       [0.60606061, 1.        , 0.30204082],
       [0.62626263, 1.        , 0.27346939],
       [0.75757576, 0.        , 0.28979592],
       [0.44444444, 0.        , 0.9755102 ],
       [0.3030303 , 0.        , 0.13469388],
       [0.22222222, 0.        , 0.99183673],
       [0.4040404 , 1.        , 0.69387755],
       [0.21212121, 1.        , 0.88979592],
       [0.58585859, 0.        , 0.65714286],
       [0.07070707, 0.        , 0.80408163],
       [0.72727273, 1.        , 0.65714286],
       [0.55555556, 0.        , 0.88571429],
       [0.28282828, 0.        , 0.13877551],
       [0.09090909, 0.        , 0.04489796],
       [0.50505051, 0.        , 0.26938776],
       [0.17171717, 0.        , 0.91020408],
       [0.31313131, 1.        , 0.11428571],
       [0.60606061, 0.        , 0.48571429],
       [0.87878788, 1.        , 0.51428571],
       [0.86868687, 1.        , 0.07755102],
       [0.80808081, 0.        , 0.56326531],
       [0.02020202, 1.        , 0.10612245],
       [0.04040404, 1.        , 0.10204082],
       [0.        , 0.        , 0.47755102],
       [0.52525253, 0.        , 0.84489796],
       [0.87878788, 1.        , 0.85306122],
       [0.50505051, 1.        , 0.56734694],
       [0.72727273, 1.        , 0.02040816],
       [0.71717172, 1.        , 0.79183673],
       [0.71717172, 0.        , 0.3877551 ],
       [0.76767677, 0.        , 0.87755102],
       [0.1010101 , 1.        , 0.33877551],
       [0.43434343, 0.        , 0.86938776],
       [0.09090909, 1.        , 0.8244898 ],
       [0.7979798 , 1.        , 0.71428571],
       [0.39393939, 0.        , 0.45306122],
       [0.26262626, 1.        , 0.54693878],
       [0.91919192, 1.        , 0.88571429],
       [0.77777778, 1.        , 0.13469388],
       [0.06060606, 1.        , 0.48163265],
       [0.07070707, 0.        , 0.86530612],
       [0.1010101 , 1.        , 0.22040816],
       [0.44444444, 1.        , 0.33877551],
       [1.        , 1.        , 0.35510204],
       [0.90909091, 0.        , 0.75918367],
       [0.67676768, 0.        , 0.39183673],
       [0.51515152, 1.        , 0.69795918],
       [0.46464646, 0.        , 0.09795918],
       [0.35353535, 1.        , 0.28979592],
       [0.14141414, 1.        , 0.01632653],
       [0.29292929, 0.        , 0.89795918],
       [0.88888889, 1.        , 0.5755102 ],
       [0.25252525, 1.        , 0.70204082],
       [0.23232323, 0.        , 0.52653061],
       [0.31313131, 1.        , 0.6244898 ],
       [0.64646465, 0.        , 0.06938776],
       [0.54545455, 1.        , 0.86530612],
       [0.4040404 , 0.        , 0.15510204],
       [0.58585859, 0.        , 0.90612245],
       [0.39393939, 0.        , 0.83673469],
       [0.35353535, 0.        , 0.41632653],
       [0.44444444, 0.        , 0.23265306],
       [0.1010101 , 1.        , 0.77959184],
       [0.90909091, 0.        , 0.74693878],
       [0.28282828, 1.        , 0.88571429],
       [0.23232323, 0.        , 0.53469388],
       [0.80808081, 1.        , 0.10612245],
       [0.55555556, 1.        , 0.60816327],
       [1.        , 1.        , 0.24081633],
       [0.13131313, 1.        , 0.73469388],
       [0.85858586, 0.        , 0.30612245],
       [0.28282828, 1.        , 0.73469388],
       [0.17171717, 1.        , 0.75510204],
       [0.70707071, 1.        , 0.48979592],
       [0.81818182, 1.        , 0.26938776],
       [0.77777778, 1.        , 0.88163265],
       [0.87878788, 1.        , 0.22040816],
       [0.65656566, 0.        , 0.50612245],
       [0.19191919, 0.        , 0.27755102],
       [0.94949495, 0.        , 0.63673469],
       [0.03030303, 1.        , 0.81632653],
       [0.18181818, 0.        , 0.32244898],
       [0.92929293, 0.        , 0.05714286],
       [0.72727273, 0.        , 0.73061224],
       [0.19191919, 1.        , 0.39591837],
       [0.48484848, 0.        , 0.4       ],
       [0.64646465, 0.        , 0.28979592],
       [0.09090909, 1.        , 0.09795918],
       [0.15151515, 1.        , 0.64897959],
       [0.70707071, 0.        , 0.63673469],
       [0.77777778, 1.        , 0.25306122],
       [0.02020202, 0.        , 0.57959184],
       [0.42424242, 0.        , 0.86530612],
       [0.09090909, 0.        , 0.36734694],
       [0.42424242, 1.        , 0.26530612],
       [0.93939394, 0.        , 0.75510204],
       [0.04040404, 1.        , 0.42857143],
       [0.85858586, 0.        , 0.61632653],
       [0.51515152, 1.        , 0.71020408],
       [0.76767677, 1.        , 0.27755102],
       [0.07070707, 0.        , 0.82040816],
       [0.96969697, 1.        , 0.65306122],
       [0.90909091, 0.        , 0.11020408],
       [0.54545455, 0.        , 0.74693878],
       [0.2020202 , 0.        , 0.11836735],
       [0.93939394, 1.        , 0.03265306],
       [0.19191919, 0.        , 0.82857143],
       [0.83838384, 0.        , 0.83673469],
       [0.95959596, 1.        , 0.59591837],
       [0.54545455, 1.        , 0.5877551 ],
       [0.36363636, 1.        , 0.39591837],
       [0.51515152, 0.        , 0.61632653],
       [0.86868687, 1.        , 0.55102041],
       [0.82828283, 1.        , 0.84081633],
       [0.38383838, 0.        , 0.01632653],
       [0.31313131, 0.        , 0.28571429],
       [0.3030303 , 0.        , 0.27755102],
       [0.22222222, 0.        , 0.44081633],
       [0.75757576, 0.        , 0.48979592],
       [0.63636364, 0.        , 0.        ],
       [0.03030303, 1.        , 0.94285714],
       [0.60606061, 1.        , 0.55918367],
       [0.23232323, 1.        , 0.83265306],
       [1.        , 1.        , 0.25714286],
       [0.71717172, 1.        , 0.48571429],
       [0.11111111, 0.        , 0.71020408],
       [0.64646465, 0.        , 1.        ],
       [0.44444444, 1.        , 0.97959184],
       [0.36363636, 1.        , 0.57959184],
       [0.74747475, 1.        , 0.56734694],
       [0.56565657, 0.        , 0.2122449 ],
       [0.92929293, 1.        , 0.92653061],
       [0.29292929, 1.        , 0.73469388],
       [0.        , 0.        , 0.55918367],
       [0.5959596 , 1.        , 0.05714286],
       [0.26262626, 0.        , 0.98367347],
       [0.52525253, 0.        , 0.0244898 ],
       [0.19191919, 0.        , 0.29795918],
       [0.43434343, 0.        , 0.63265306],
       [0.49494949, 1.        , 0.58367347],
       [0.3030303 , 0.        , 0.66938776],
       [0.78787879, 0.        , 0.2       ],
       [0.78787879, 1.        , 0.39591837],
       [0.93939394, 0.        , 0.87346939],
       [0.17171717, 1.        , 0.24081633],
       [0.16161616, 1.        , 0.55918367],
       [0.84848485, 1.        , 0.01632653],
       [0.32323232, 1.        , 0.66938776],
       [0.63636364, 1.        , 0.84489796],
       [0.8989899 , 0.        , 0.54693878],
       [0.84848485, 0.        , 0.32244898],
       [0.95959596, 1.        , 0.06938776],
       [0.49494949, 0.        , 0.39183673],
       [0.18181818, 1.        , 0.49387755],
       [0.98989899, 1.        , 0.03265306],
       [0.44444444, 0.        , 0.11836735],
       [0.24242424, 0.        , 0.68979592],
       [0.8989899 , 1.        , 0.08979592],
       [0.16161616, 0.        , 0.39591837],
       [0.4040404 , 1.        , 0.08571429],
       [0.33333333, 0.        , 0.17142857],
       [0.26262626, 0.        , 0.24489796],
       [0.07070707, 0.        , 0.10204082],
       [0.75757576, 1.        , 0.37142857],
       [0.67676768, 1.        , 0.63265306],
       [0.02020202, 1.        , 0.86122449],
       [0.49494949, 1.        , 0.94693878],
       [0.60606061, 0.        , 0.26122449],
       [0.11111111, 0.        , 0.85306122],
       [0.19191919, 0.        , 0.06938776],
       [0.67676768, 0.        , 0.6244898 ],
       [0.72727273, 0.        , 0.4122449 ],
       [0.29292929, 0.        , 0.93061224],
       [0.27272727, 0.        , 0.16326531],
       [0.38383838, 0.        , 0.93877551],
       [0.62626263, 0.        , 0.01632653],
       [0.15151515, 0.        , 0.35102041],
       [0.19191919, 1.        , 0.11020408],
       [0.08080808, 1.        , 0.59183673],
       [0.26262626, 1.        , 0.67346939],
       [0.24242424, 1.        , 0.66530612],
       [0.57575758, 1.        , 0.84081633],
       [0.85858586, 0.        , 0.36734694],
       [0.52525253, 0.        , 0.51020408],
       [0.39393939, 1.        , 0.71836735],
       [0.27272727, 1.        , 0.66938776],
       [0.34343434, 0.        , 0.33877551],
       [0.70707071, 1.        , 0.32244898],
       [0.88888889, 1.        , 0.25714286],
       [0.14141414, 0.        , 0.19591837],
       [0.67676768, 0.        , 0.56734694],
       [0.11111111, 0.        , 0.91428571],
       [0.72727273, 0.        , 0.25306122]])

In [25]:
#Normalizar os dados categoricos (Coluna Sexo)

In [26]:
print('Dados originais')

Dados originais

In [27]:
dados_cat

0      F
1      F
2      F
3      F
4      F
      ..
195    M
196    M
197    F
198    M
199    M
Name: sexo, Length: 200, dtype: object

In [28]:
dados_cat_normalizados =  pd.get_dummies(dados_cat, prefix='sexo')

In [29]:
dados_cat_normalizados

     sexo_F  sexo_M
0         1       0
1         1       0
2         1       0
3         1       0
4         1       0
..      ...     ...
195       0       1
196       0       1
197       1       0
198       0       1
199       0       1

[200 rows x 2 columns]

In [30]:
#Recompor os dados para obter modelo de Machine Learning
#Converter o ndarray para data frame

In [31]:
dados_num = pd.DataFrame(dados_num_normalizados_2, columns=['Idade','Altura','Peso'])

In [32]:
dados_num

        Idade  Altura      Peso
0    0.474747     0.0  0.432653
1    0.090909     0.0  0.975510
2    0.787879     0.0  0.273469
3    0.414141     0.0  0.648980
4    0.222222     1.0  0.636735
..        ...     ...       ...
195  0.888889     1.0  0.257143
196  0.141414     0.0  0.195918
197  0.676768     0.0  0.567347
198  0.111111     0.0  0.914286
199  0.727273     0.0  0.253061

[200 rows x 3 columns]

In [33]:
#Juntar com s vategorias normalizadas sexo

In [34]:
dados_final = dados_num.join(dados_cat_normalizados,how='left')

In [35]:
dados_final

        Idade  Altura      Peso  sexo_F  sexo_M
0    0.474747     0.0  0.432653       1       0
1    0.090909     0.0  0.975510       1       0
2    0.787879     0.0  0.273469       1       0
3    0.414141     0.0  0.648980       1       0
4    0.222222     1.0  0.636735       1       0
..        ...     ...       ...     ...     ...
195  0.888889     1.0  0.257143       0       1
196  0.141414     0.0  0.195918       0       1
197  0.676768     0.0  0.567347       1       0
198  0.111111     0.0  0.914286       0       1
199  0.727273     0.0  0.253061       0       1

[200 rows x 5 columns]