<a href="https://colab.research.google.com/github/LuziaAm/DataScience/blob/main/tutorial_pandas_versao2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

### É a biblioteca mais popular para lidar com dados em Ciência de Dados.
### Possui duas coleções: a) `Series` e b) `DataFrame`.

# Importando a biblioteca PANDAS

In [3]:
import pandas as pd

# `Series`

### Características:

*   É uma **lista**.
*   Diferentemente de vetores (*arrays*) e/ou listas convencionais, `Series` suporta customização dos índices.

### Criação de `Series` com índices padrão (*default*)

A criação é realizada através do comando `pd.Series()`.

Exemplo:

In [4]:
s = pd.Series ([10, 20, 30, 40, 50])

### Exibição de uma `Series`

In [5]:
print (s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Partes:

*   Coluna à esquerda -> índice
*   Coluna à direita -> valores
*   Última linha -> tipo de dados (`dtype`)

### Acessar a um elemento

In [6]:
print (s[2])

30

### Criação de uma `Series` com valores iguais

In [7]:
pd.Series (9.7, range(4))

0    9.7
1    9.7
2    9.7
3    9.7
dtype: float64

### Estatísticas para uma `Series`

Funções:

*   `count`
*   `mean`
*   `min`
*   `max`
*   `std`

Exemplos:

In [8]:
print (s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
s.count()

5

In [10]:
s.mean()

30.0

In [11]:
s.min()

10

In [12]:
s.max()

50

In [13]:
s.std()

15.811388300841896

As funções de estatística podem ser resumidas com `describe()`

In [14]:
s.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

### Criação de índices customizados

*   `Series` não tem o nome de uma coluna.
*   Porém, é possível nomear os índices (*index*).

Exemplo:

In [16]:
s_custom = pd.Series ([10, 20, 30], index=['1a dezena', '2a dezena', '3a dezena'])

In [17]:
print (s_custom)

1a dezena    10
2a dezena    20
3a dezena    30
dtype: int64

É possível acessar os elementos individualmente de várias formas:

In [19]:
print (s_custom[2])

30

In [18]:
print (s_custom['3a dezena'])

30

### Como seria possível criar uma `Series` com duas colunas?

In [ ]:
#@title
pd.Series ([10, 20, 30, 40], [15, 25, 35, 45])

# `DataFrame`

### Características:


*   Estrutura bidimensional.
*   É uma **tabela**.
*   Cada coluna de um `DataFrame` é uma `Series`.
*   Cada coluna pode ser de um tipo diferente.

### Criação um `DataFrame` a partir de um dicionário.

Exemplo 1:

In [ ]:
dic1 = {'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']}

In [ ]:
pd.DataFrame(dic1)

Exemplo 2:

In [ ]:
pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'POPULACAO': ['4144597', '845731', '881935']})

### Construtor DataFrame

```
pd.DataFrame()
```

É a forma padrão de se construir um novo `DataFrame`.

Sintaxe:


*   É um dicionário.
*   As chaves do dicionário são as colunas.
*   Os valores são a lista de entrada.

### Características do construtor:

*   O construtor do tipo `DataFrame` atribui valores sequenciais.
*   Estes valores são conhecidos como índices (*index*).
*   Porém, é possível personalizar (customizar) os valores dos índices.

### Customização do índice:

Exemplo:

In [ ]:
dic2 = pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 
              'POPULACAO': ['4144597', '845731', '881935']},
             index=['AM', 'AP', 'AC'])

In [ ]:
dic2

### Acessando elementos do `DataFrame`

Exemplo 1:

In [ ]:
dic2['ESTADO']

Exemplo 2:

In [ ]:
dic2.ESTADO

### Seria possível criar um DataFrame com quantidades de linhas diferentes por coluna?

In [ ]:
pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'POPULACAO': ['4144597', '881935']})

# Leitura de arquivos

### Características gerais sobre a leitura de arquivos:



*   Na prática, iremos trabalhar com dados já existentes.
*   Existem vários formatos de arquivos.
*   O formato CSV é um dos formatos mais comuns.
*   Um arquivo CSV é uma tabela cujos valores estão separados por vírgulas (*Comma-Separated Values*).

### Leitura de arquivos CSV em Pandas como um `DataFrame`:

Comando padrão:

`pd.read_csv()`

Exemplo:

In [20]:
dados = pd.read_csv("http://tiagodemelo.info/datasets/dados-curso.csv")

### Atributo `shape` 

Permite verificar o tamanho dos dados.

Exemplo:

In [21]:
dados.shape # exibe

(500, 9)

### Comando `head`

Podemos ter uma noção do conjunto de dados.

Exemplo:

In [22]:
dados.head()

                  data  ...  longitude
0  2020-05-23 00:21:14  ... -22.522600
1  2020-03-22 22:57:51  ... -23.606067
2  2020-04-14 00:11:33  ...  38.747518
3  2020-05-25 20:45:43  ... -23.550000
4  2020-04-15 10:34:39  ... -23.975947

[5 rows x 9 columns]

### Manipulação de dados

Pandas possui uma série de recursos que permite manipular os dados no formato de `DataFrame`.

In [23]:
dados

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
2    2020-04-14 00:11:33  ...  38.747518
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
..                   ...  ...        ...
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[500 rows x 9 columns]

### As propriedades de um objeto podem ser acessadas como um atributo:

Exemplo 1:

In [36]:
dados.lugar

0      Rio das Ostras
1           Sao Paulo
2              Lisbon
3           Sao Paulo
4              Santos
            ...
495        Rio Branco
496    Rio de Janeiro
497           Toronto
498         Sao Paulo
499            Lisbon
Name: lugar, Length: 500, dtype: object

Exemplo 2:

In [27]:
dados['lugar']

0      Rio das Ostras
1           Sao Paulo
2              Lisbon
3           Sao Paulo
4              Santos
            ...
495        Rio Branco
496    Rio de Janeiro
497           Toronto
498         Sao Paulo
499            Lisbon
Name: lugar, Length: 500, dtype: object

Exemplo 3:

In [25]:
dados['lugar'][0]

'Rio das Ostras'

In [26]:
dados['lugar'][1]

'Sao Paulo'

# Indexação em Pandas

### Seleção baseada em índices

#### Seleção de dados baseada na posição numérica dos dados.

### Selecionar a primeira linha

Exemplo 1:

In [28]:
dados.iloc[101] #index location

data                                       2020-03-03 00:43:28
texto        A Intelprise alerta os folioes pos-carnavalesc...
retweet                                                      0
idioma                                                      pt
lugar                                        North Miami Beach
pais                                             United States
sigla                                                       US
latitude                                              -80.1637
longitude                                              25.9466
Name: 101, dtype: object

Exemplo 2:

In [29]:
dados.iloc[:,7]

0     -41.937900
1     -46.674739
2      -9.099043
3     -46.633300
4     -46.293700
         ...
495   -67.859657
496   -43.358100
497   -79.387200
498   -46.633300
499    -9.099043
Name: latitude, Length: 500, dtype: float64

Exemplo 3:

In [30]:
dados.iloc[-5:]

                    data  ...  longitude
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[5 rows x 9 columns]

Exemplo 5:

In [32]:
dados.loc[499, 'pais']

'Portugal'

# Manipulação de índices

### É possível fazer a indexação dados por um atributo.

### Exemplo:

In [34]:
dados.set_index('pais')

                         data  ...  longitude
pais                           ...
Brazil    2020-05-23 00:21:14  ... -22.522600
Brazil    2020-03-22 22:57:51  ... -23.606067
Portugal  2020-04-14 00:11:33  ...  38.747518
Brazil    2020-05-25 20:45:43  ... -23.550000
Brazil    2020-04-15 10:34:39  ... -23.975947
...                       ...  ...        ...
Brazil    2020-04-07 16:14:13  ...  -9.932246
Brazil    2020-03-26 18:02:28  ... -22.942800
Canada    2020-03-18 05:28:16  ...  43.648000
Brazil    2020-03-03 21:27:11  ... -23.550000
Portugal  2020-01-21 13:18:03  ...  38.747518

[500 rows x 8 columns]

# Seleção condicional

É possível consultar os dados de acordo com algum critério (condição)

Exemplo:

In [35]:
dados.sigla == 'BR'

0       True
1       True
2      False
3       True
4       True
       ...
495     True
496     True
497    False
498     True
499    False
Name: sigla, Length: 500, dtype: bool

### Essa operação pode ser usado em combinação `loc`

In [37]:
dados.loc[dados.sigla == 'BR']

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
7    2020-03-22 19:12:37  ... -22.961900
..                   ...  ...        ...
493  2020-04-08 23:40:59  ... -25.297434
494  2020-04-14 12:06:38  ... -23.540780
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
498  2020-03-03 21:27:11  ... -23.550000

[392 rows x 9 columns]

# Funções de Sumário (*Summary*)

### `describe()` é a função que apresenta um conjunto de estatísticas sobre um determinado campo (coluna).

Exemplo 1:

In [ ]:
dados.retweet.describe()

### A função `describe()` ainda pode ser utilizada para campos não numéricos

Exemplo 1:

In [38]:
dados.sigla.describe()

count     499
unique     21
top        BR
freq      392
Name: sigla, dtype: object

Exemplo 2:

In [39]:
dados.data.describe()

count                     500
unique                    500
top       2020-04-15 23:37:04
freq                        1
Name: data, dtype: object

### É possível ainda usar uma função de estatística específica para um determinado campo

In [40]:
dados.retweet.mean()

0.172

### A função `unique()` apresenta os valores únicos

In [41]:
dados.sigla.unique()

array(['BR', 'PT', 'VA', 'CA', 'US', 'ID', 'ES', 'AU', 'MX', 'NL', 'CH',
       'NZ', 'CW', 'IT', 'IN', 'DO', 'EC', 'CN', nan, 'FR', 'MZ', 'GB'],
      dtype=object)

Exemplo:

In [42]:
dados.sigla.value_counts()

BR    392
PT     67
US     11
CA      6
ES      3
AU      2
NZ      2
FR      2
IT      2
EC      1
CN      1
MZ      1
CH      1
DO      1
IN      1
VA      1
MX      1
ID      1
CW      1
NL      1
GB      1
Name: sigla, dtype: int64

#Agrupamento de dados

### Função `groupby()`

Exemplo 1:

In [43]:
dados.groupby('sigla')

Exemplo 2:

In [44]:
dados.groupby('sigla').sigla

Exemplo 3:

In [45]:
dados.groupby('sigla').sigla.count()

sigla
AU      2
BR    392
CA      6
CH      1
CN      1
CW      1
DO      1
EC      1
ES      3
FR      2
GB      1
ID      1
IN      1
IT      2
MX      1
MZ      1
NL      1
NZ      2
PT     67
US     11
VA      1
Name: sigla, dtype: int64

### A função `groupby` pode ainda ser usada para exibir outro campo

In [46]:
dados.groupby('sigla').retweet.max()

sigla
AU    1
BR    3
CA    2
CH    0
CN    0
CW    0
DO    0
EC    0
ES    0
FR    0
GB    1
ID    0
IN    0
IT    0
MX    0
MZ    0
NL    0
NZ    0
PT    4
US    2
VA    0
Name: retweet, dtype: int64

#Ordenação de dados

### A função `sort_values()` pode ser usada para ordenar os valores por um determinado campo

In [ ]:
dados.sort_values(by='sigla')

### A ordenação padrão é de forma ascendente. Porém, é possível ordenar de maneira descendente

In [ ]:
dados.sort_values(by='sigla', ascending=False)

### A ordenação por índices é feita através da função `sort_index()`

In [47]:
dados.sort_index()

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
2    2020-04-14 00:11:33  ...  38.747518
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
..                   ...  ...        ...
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[500 rows x 9 columns]

### A ordenação ainda pode ser feita por mais de um campo ao mesmo tempo

In [ ]:
dados.sort_values(by=['pais', 'lugar'])

# Tipo de dados em `DataFrame` e `Series`

### Para verificar o tipo de um dado em Python nós usamos o comando `type`

In [48]:
type(dados)

pandas.core.frame.DataFrame

### Para verificarmos o tipo de dados de uma coluna de um `DataFrame` ou `Series` em Python nós usamos o comando `dtype`

In [49]:
dados.retweet.dtype

dtype('int64')

In [50]:
dados.idioma.dtype

dtype('O')

### Nós podemos ainda verificar o tipo de dados de todas as colunas de um `DataFrame`

In [51]:
dados.dtypes

data          object
texto         object
retweet        int64
idioma        object
lugar         object
pais          object
sigla         object
latitude     float64
longitude    float64
dtype: object

### É possível ainda converter o tipo de uma determinada coluna para outro tipo

Exemplo 1:

In [52]:
dados.retweet

0      0
1      0
2      1
3      0
4      0
      ..
495    1
496    0
497    0
498    0
499    1
Name: retweet, Length: 500, dtype: int64

Exemplo 2:

In [53]:
dados.retweet.astype('float64')#converter tipos de variáveis

0      0.0
1      0.0
2      1.0
3      0.0
4      0.0
      ...
495    1.0
496    0.0
497    0.0
498    0.0
499    1.0
Name: retweet, Length: 500, dtype: float64

### Seria possível converter uma coluna para qualquer outro tipo de dados?

In [54]:
dados.sigla.astype('float64')

ValueError: ignored

### Resumo dos tipos em Pandas:

![](https://drive.google.com/uc?export=view&id=1l2SH97T_0Lu7VIInFzkc31HUbSep37g6)

### Lidando com dados ausentes

Regras gerais:

*   Os dados ausentes são presentados pelo valor `NaN` que representa Not a Number.
*   Por razões técnicas, os valores `NaN` são sempre do tipo `float64`.
*   Pandas possui alguns métodos específicos para lidar com dados ausentes.

### O comando `pd.isnull()` é utilizado para selecionar as entradas ausentes

In [ ]:
dados[pd.isnull(dados.sigla)]

### Substituição de valores ausentes

### A função `fillna()` é usada para substituir valores ausentes

In [ ]:
dados.sigla.fillna("PADRAO")

### É possível ainda fazer a substituição de um valor específico por outro através do comando `replace`

In [ ]:
dados.sigla.replace('BR', 'BZ')

# Formatação dos dados

### Regras gerais:

*   É comum ocorrer a situação onde os dados não estão com nomes apropriados.
*   Neste caso, podemos usar um conjunto de funções de Pandas para formatar `DataFrame` ou `Series`.

### É possível renomear as colunas e índices através do comando `rename()`

In [ ]:
#@title
dados.rename(columns={'sigla': 'codigo'})

# Plotar Mapas

### Projeto GeoPandas

*   Projeto código aberto para lidar com dados espaciais em Python.
*   Versão atual é a 0.8.0.
*   Permite a realização de operações espaciais.

### Instalar a biblioteca

In [55]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 15.6MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 46.5MB/s
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/47/c2/67d1d0acbaaee3b03e5e22e3b96c33219cb5dd392531c9ff9cee7c2eb3e4/Fiona-1.8.18-cp37-cp37m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 289kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Installing collected packages: pyproj, click-plugins, munch, cligj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

### Importar as bibliotecas

In [56]:
from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame

### Carregar o arquivo com os dados

In [ ]:
dados = pd.read_csv("http://tiagodemelo.info/datasets/dados-curso.csv")

In [ ]:
dados.head()

### Plotar a posição dos usuários no mapa

In [ ]:
geometry = [Point(xy) for xy in zip(dados['latitude'], dados['longitude'])]
gdf = GeoDataFrame(dados, geometry=geometry)   

world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
gdf.plot(ax=world.plot(figsize=(10, 6)), marker='o', color='red', markersize=20);